/* frontend/src/app/layout/HomeLayout.css */


.home-layout {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
}

.home-content {
  text-align: center;
}

.enter-btn {
  margin-top: 20px;
  padding: 10px 18px;
  background: #007bff;
  color: white;
  border-radius: 6px;
  text-decoration: none;
}

.enter-btn:hover {
  background: #0056b3;
}
